/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'weather';
  src: url("../fonts/1.eot");
  src: url("../fonts/2.eot") format("embedded-opentype"), url("../fonts/4.woff") format("woff"), url("../fonts/3.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* line 29, ../sass/screen.scss */
button {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

/* line 54, ../sass/screen.scss */
img {
  max-width: 100%;
  position: relative;
  z-index: 111;
}

/* line 60, ../sass/screen.scss */
i {
  color: #fff;
  font-family: weather;
  font-size: 90px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.0;
}

/* line 69, ../sass/screen.scss */
.icon-0:before {
  content: ":";
}

/* line 73, ../sass/screen.scss */
.icon-1:before {
  content: "p";
}

/* line 77, ../sass/screen.scss */
.icon-2:before {
  content: "S";
}

/* line 81, ../sass/screen.scss */
.icon-3:before {
  content: "Q";
}

/* line 85, ../sass/screen.scss */
.icon-4:before {
  content: "S";
}

/* line 89, ../sass/screen.scss */
.icon-5:before {
  content: "W";
}

/* line 93, ../sass/screen.scss */
.icon-6:before {
  content: "W";
}

/* line 97, ../sass/screen.scss */
.icon-7:before {
  content: "W";
}

/* line 101, ../sass/screen.scss */
.icon-8:before {
  content: "W";
}

/* line 105, ../sass/screen.scss */
.icon-9:before {
  content: "I";
}

/* line 109, ../sass/screen.scss */
.icon-10:before {
  content: "W";
}

/* line 113, ../sass/screen.scss */
.icon-11:before {
  content: "I";
}

/* line 117, ../sass/screen.scss */
.icon-12:before {
  content: "I";
}

/* line 121, ../sass/screen.scss */
.icon-13:before {
  content: "I";
}

/* line 125, ../sass/screen.scss */
.icon-14:before {
  content: "I";
}

/* line 129, ../sass/screen.scss */
.icon-15:before {
  content: "W";
}

/* line 133, ../sass/screen.scss */
.icon-16:before {
  content: "I";
}

/* line 137, ../sass/screen.scss */
.icon-17:before {
  content: "W";
}

/* line 141, ../sass/screen.scss */
.icon-18:before {
  content: "U";
}

/* line 145, ../sass/screen.scss */
.icon-19:before {
  content: "Z";
}

/* line 149, ../sass/screen.scss */
.icon-20:before {
  content: "Z";
}

/* line 153, ../sass/screen.scss */
.icon-21:before {
  content: "Z";
}

/* line 157, ../sass/screen.scss */
.icon-22:before {
  content: "Z";
}

/* line 161, ../sass/screen.scss */
.icon-23:before {
  content: "Z";
}

/* line 165, ../sass/screen.scss */
.icon-24:before {
  content: "E";
}

/* line 169, ../sass/screen.scss */
.icon-25:before {
  content: "E";
}

/* line 173, ../sass/screen.scss */
.icon-26:before {
  content: "3";
}

/* line 177, ../sass/screen.scss */
.icon-27:before {
  content: "a";
}

/* line 181, ../sass/screen.scss */
.icon-28:before {
  content: "A";
}

/* line 185, ../sass/screen.scss */
.icon-29:before {
  content: "a";
}

/* line 189, ../sass/screen.scss */
.icon-30:before {
  content: "A";
}

/* line 193, ../sass/screen.scss */
.icon-31:before {
  content: "6";
}

/* line 197, ../sass/screen.scss */
.icon-32:before {
  content: "1";
}

/* line 201, ../sass/screen.scss */
.icon-33:before {
  content: "6";
}

/* line 205, ../sass/screen.scss */
.icon-34:before {
  content: "1";
}

/* line 209, ../sass/screen.scss */
.icon-35:before {
  content: "W";
}

/* line 213, ../sass/screen.scss */
.icon-36:before {
  content: "1";
}

/* line 217, ../sass/screen.scss */
.icon-37:before {
  content: "S";
}

/* line 221, ../sass/screen.scss */
.icon-38:before {
  content: "S";
}

/* line 225, ../sass/screen.scss */
.icon-39:before {
  content: "S";
}

/* line 229, ../sass/screen.scss */
.icon-40:before {
  content: "M";
}

/* line 233, ../sass/screen.scss */
.icon-41:before {
  content: "W";
}

/* line 237, ../sass/screen.scss */
.icon-42:before {
  content: "I";
}

/* line 241, ../sass/screen.scss */
.icon-43:before {
  content: "W";
}

/* line 245, ../sass/screen.scss */
.icon-44:before {
  content: "a";
}

/* line 249, ../sass/screen.scss */
.icon-45:before {
  content: "S";
}

/* line 253, ../sass/screen.scss */
.icon-46:before {
  content: "U";
}

/* line 257, ../sass/screen.scss */
.icon-47:before {
  content: "S";
}

/* line 276, ../sass/screen.scss */
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* line 282, ../sass/screen.scss */
body {
  background-color: #E3E2DC;
  font-family: 'Open Sans', sans-serif;
}

/* line 287, ../sass/screen.scss */
h1 {
  display: inline-box;
  margin: 3rem auto;
  width: 7em;
  color: #ECEAE8;
  font-size: 40px;
  line-height: 2;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.1) -1px 0, rgba(0, 0, 0, 0.1) 0 -1px, rgba(255, 255, 255, 0.3) 1px 0, rgba(255, 255, 255, 0.3) 0 1px, rgba(0, 0, 0, 0.1) -1px -1px, rgba(255, 255, 255, 0.3) 1px 1px;
  background-color: #CFCFCF;
  border: 3px solid #CFCFCF;
  border-radius: 5px;
  box-shadow: inset 0 1px 3px #898989, 0 -1px 3px #898989;
}

/* line 305, ../sass/screen.scss */
.watch {
  position: absolute;
  top: 50%;
  left: 50%;
}

/* line 311, ../sass/screen.scss */
.frame {
  position: absolute;
  top: -175px;
  left: -175px;
  width: 350px;
  height: 350px;
  background-color: #f7f7f7;
  border-radius: 50%;
  box-shadow: 0 0 0 7px #CFCFCF, 0 0 0 19px #E5E5E5, 0 0 80px 19px rgba(0, 0, 0, 0.2), inset 2px 2px 20px 8px rgba(0, 0, 0, 0.2);
}

/* line 325, ../sass/screen.scss */
.inner-border {
  height: 300px;
  width: 300px;
  position: absolute;
  border-radius: 50%;
  border: 1px solid #dedede;
  left: 13px;
  top: 13px;
  bottom: 10px;
  margin: 10px;
}

/* line 338, ../sass/screen.scss */
.numbers {
  top: 175px;
  left: 175px;
  width: 1px;
  height: 1px;
  border-radius: 50%;
}
/* line 346, ../sass/screen.scss */
.numbers span {
  display: block;
  position: absolute;
  outline: 1px solid transparent;
  left: -13px;
  top: -178px;
  width: 20px;
  height: 350px;
  color: #292725;
  font-size: 30px;
  line-height: 10px;
  text-align: center;
  transform-origin: center;
  overflow: hidden;
}
/* line 363, ../sass/screen.scss */
.numbers span:nth-of-type(1) {
  transform: rotate(6deg);
}
/* line 363, ../sass/screen.scss */
.numbers span:nth-of-type(2) {
  transform: rotate(12deg);
}
/* line 363, ../sass/screen.scss */
.numbers span:nth-of-type(3) {
  transform: rotate(18deg);
}
/* line 363, ../sass/screen.scss */
.numbers span:nth-of-type(4) {
  transform: rotate(24deg);
}
/* line 363, ../sass/screen.scss */
.numbers span:nth-of-type(5) {
  transform: rotate(30deg);
}
/* line 363, ../sass/screen.scss */
.numbers span:nth-of-type(6) {
  transform: rotate(36deg);
}
/* line 363, ../sass/screen.scss */
.numbers span:nth-of-type(7) {
  transform: rotate(42deg);
}
/* line 363, ../sass/screen.scss */
.numbers span:nth-of-type(8) {
  transform: rotate(48deg);
}
/* line 363, ../sass/screen.scss */
.numbers span:nth-of-type(9) {
  transform: rotate(54deg);
}
/* line 363, ../sass/screen.scss */
.numbers span:nth-of-type(10) {
  transform: rotate(60deg);
}
/* line 363, ../sass/screen.scss */
.numbers span:nth-of-type(11) {
  transform: rotate(66deg);
}
/* line 363, ../sass/screen.scss */
.numbers span:nth-of-type(12) {
  transform: rotate(72deg);
}
/* line 363, ../sass/screen.scss */
.numbers span:nth-of-type(13) {
  transform: rotate(78deg);
}
/* line 363, ../sass/screen.scss */
.numbers span:nth-of-type(14) {
  transform: rotate(84deg);
}
/* line 363, ../sass/screen.scss */
.numbers span:nth-of-type(15) {
  transform: rotate(90deg);
}
/* line 363, ../sass/screen.scss */
.numbers span:nth-of-type(16) {
  transform: rotate(96deg);
}
/* line 363, ../sass/screen.scss */
.numbers span:nth-of-type(17) {
  transform: rotate(102deg);
}
/* line 363, ../sass/screen.scss */
.numbers span:nth-of-type(18) {
  transform: rotate(108deg);
}
/* line 363, ../sass/screen.scss */
.numbers span:nth-of-type(19) {
  transform: rotate(114deg);
}
/* line 363, ../sass/screen.scss */
.numbers span:nth-of-type(20) {
  transform: rotate(120deg);
}
/* line 363, ../sass/screen.scss */
.numbers span:nth-of-type(21) {
  transform: rotate(126deg);
}
/* line 363, ../sass/screen.scss */
.numbers span:nth-of-type(22) {
  transform: rotate(132deg);
}
/* line 363, ../sass/screen.scss */
.numbers span:nth-of-type(23) {
  transform: rotate(138deg);
}
/* line 363, ../sass/screen.scss */
.numbers span:nth-of-type(24) {
  transform: rotate(144deg);
}
/* line 363, ../sass/screen.scss */
.numbers span:nth-of-type(25) {
  transform: rotate(150deg);
}
/* line 363, ../sass/screen.scss */
.numbers span:nth-of-type(26) {
  transform: rotate(156deg);
}
/* line 363, ../sass/screen.scss */
.numbers span:nth-of-type(27) {
  transform: rotate(162deg);
}
/* line 363, ../sass/screen.scss */
.numbers span:nth-of-type(28) {
  transform: rotate(168deg);
}
/* line 363, ../sass/screen.scss */
.numbers span:nth-of-type(29) {
  transform: rotate(174deg);
}
/* line 363, ../sass/screen.scss */
.numbers span:nth-of-type(30) {
  transform: rotate(180deg);
}
/* line 363, ../sass/screen.scss */
.numbers span:nth-of-type(31) {
  transform: rotate(186deg);
}
/* line 363, ../sass/screen.scss */
.numbers span:nth-of-type(32) {
  transform: rotate(192deg);
}
/* line 363, ../sass/screen.scss */
.numbers span:nth-of-type(33) {
  transform: rotate(198deg);
}
/* line 363, ../sass/screen.scss */
.numbers span:nth-of-type(34) {
  transform: rotate(204deg);
}
/* line 363, ../sass/screen.scss */
.numbers span:nth-of-type(35) {
  transform: rotate(210deg);
}
/* line 363, ../sass/screen.scss */
.numbers span:nth-of-type(36) {
  transform: rotate(216deg);
}
/* line 363, ../sass/screen.scss */
.numbers span:nth-of-type(37) {
  transform: rotate(222deg);
}
/* line 363, ../sass/screen.scss */
.numbers span:nth-of-type(38) {
  transform: rotate(228deg);
}
/* line 363, ../sass/screen.scss */
.numbers span:nth-of-type(39) {
  transform: rotate(234deg);
}
/* line 363, ../sass/screen.scss */
.numbers span:nth-of-type(40) {
  transform: rotate(240deg);
}
/* line 363, ../sass/screen.scss */
.numbers span:nth-of-type(41) {
  transform: rotate(246deg);
}
/* line 363, ../sass/screen.scss */
.numbers span:nth-of-type(42) {
  transform: rotate(252deg);
}
/* line 363, ../sass/screen.scss */
.numbers span:nth-of-type(43) {
  transform: rotate(258deg);
}
/* line 363, ../sass/screen.scss */
.numbers span:nth-of-type(44) {
  transform: rotate(264deg);
}
/* line 363, ../sass/screen.scss */
.numbers span:nth-of-type(45) {
  transform: rotate(270deg);
}
/* line 363, ../sass/screen.scss */
.numbers span:nth-of-type(46) {
  transform: rotate(276deg);
}
/* line 363, ../sass/screen.scss */
.numbers span:nth-of-type(47) {
  transform: rotate(282deg);
}
/* line 363, ../sass/screen.scss */
.numbers span:nth-of-type(48) {
  transform: rotate(288deg);
}
/* line 363, ../sass/screen.scss */
.numbers span:nth-of-type(49) {
  transform: rotate(294deg);
}
/* line 363, ../sass/screen.scss */
.numbers span:nth-of-type(50) {
  transform: rotate(300deg);
}
/* line 363, ../sass/screen.scss */
.numbers span:nth-of-type(51) {
  transform: rotate(306deg);
}
/* line 363, ../sass/screen.scss */
.numbers span:nth-of-type(52) {
  transform: rotate(312deg);
}
/* line 363, ../sass/screen.scss */
.numbers span:nth-of-type(53) {
  transform: rotate(318deg);
}
/* line 363, ../sass/screen.scss */
.numbers span:nth-of-type(54) {
  transform: rotate(324deg);
}
/* line 363, ../sass/screen.scss */
.numbers span:nth-of-type(55) {
  transform: rotate(330deg);
}
/* line 363, ../sass/screen.scss */
.numbers span:nth-of-type(56) {
  transform: rotate(336deg);
}
/* line 363, ../sass/screen.scss */
.numbers span:nth-of-type(57) {
  transform: rotate(342deg);
}
/* line 363, ../sass/screen.scss */
.numbers span:nth-of-type(58) {
  transform: rotate(348deg);
}
/* line 363, ../sass/screen.scss */
.numbers span:nth-of-type(59) {
  transform: rotate(354deg);
}
/* line 363, ../sass/screen.scss */
.numbers span:nth-of-type(60) {
  transform: rotate(360deg);
}
/* line 368, ../sass/screen.scss */
.numbers span:nth-of-type(5n) {
  padding-top: 12px;
  font-size: 16px;
}
/* line 373, ../sass/screen.scss */
.numbers span:nth-of-type(29n),
.numbers span:nth-of-type(31n),
.numbers span:nth-of-type(30n):before {
  display: none;
}
/* line 379, ../sass/screen.scss */
.numbers span:nth-of-type(58n),
.numbers span:nth-of-type(60n):before {
  display: block;
}

/* line 387, ../sass/screen.scss */
.day {
  position: absolute;
  top: 50px;
  left: 149px;
  width: 100px;
  text-transform: uppercase;
  height: 0;
  padding: 0 8px 0 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}
/* line 398, ../sass/screen.scss */
.day span {
  display: box;
  position: absolute;
  top: 5px;
  left: 0px;
  height: 0;
  padding: 0 8px 0 3px;
  line-height: 44px;
  letter-spacing: 3px;
  perspective: 150px;
}
/* line 409, ../sass/screen.scss */
.day span:before {
  content: '';
  display: box;
  position: absolute;
  top: -12px;
  left: -3px;
  height: 58px;
  width: 32px;
  /* 3D antialiasing*/
  transform: rotateX(45deg);
}

/* line 423, ../sass/screen.scss */
.hand {
  position: absolute;
  z-index: 111;
  top: 168px;
  left: 167px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
}

/* line 433, ../sass/screen.scss */
.second {
  position: absolute;
  z-index: 2;
  top: -155px;
  left: 2px;
  height: 160px;
  width: 6px;
  border-radius: 4px 4px 0 0;
  outline: 1px solid transparent;
  /* 3D antialiasing*/
  transform-origin: center bottom;
  transform: rotate(84deg);
}
/* line 445, ../sass/screen.scss */
.second:before {
  content: '';
  display: box;
  position: absolute;
  top: 5px;
  width: 2px;
  height: 180px;
  background-color: #E8352C;
}
/* line 455, ../sass/screen.scss */
.second:after {
  content: '';
  display: box;
  position: absolute;
  top: 157px;
  left: 0px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 2px solid #E8352C;
  background-color: #E8352C;
  box-shadow: 0 0 0 1px #C42028, 0 0 0 4px #E8352C;
}

/* line 471, ../sass/screen.scss */
.minute {
  position: absolute;
  z-index: 2;
  top: -155px;
  left: 2px;
  height: 160px;
  width: 6px;
  background-color: #fff;
  border-radius: 4px 4px 0 0;
  outline: 1px solid transparent;
  /* 3D antialiasing*/
  transform-origin: center bottom;
  transform: rotate(84deg);
  box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.3);
}
/* line 486, ../sass/screen.scss */
.minute:before {
  content: '';
  display: box;
  position: absolute;
  top: 160px;
  left: 0px;
  height: 35px;
  width: 6px;
  background: #fff;
  box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.3);
}
/* line 499, ../sass/screen.scss */
.minute:after {
  content: '';
  display: box;
  position: absolute;
  top: 155px;
  left: -2px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  outline: 1px solid transparent;
  /* 3D antialiasing*/
  background-color: #D8D8D6;
  box-shadow: 0 0 0 6px #fff, 0 0 0 6px #fff, 0 0 0 6px #fff;
}

/* line 517, ../sass/screen.scss */
.hour {
  position: absolute;
  z-index: 2;
  top: -125px;
  left: 2px;
  height: 130px;
  width: 6px;
  background-color: #191819;
  border-radius: 4px 4px 0 0;
  outline: 1px solid transparent;
  /* 3D antialiasing*/
  transform-origin: center bottom;
  transform: rotate(-30deg);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
/* line 532, ../sass/screen.scss */
.hour:before {
  content: '';
  display: box;
  position: absolute;
  top: 130px;
  left: 0px;
  height: 26px;
  width: 6px;
  background: #000;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

/* line 546, ../sass/screen.scss */
.inner-frame {
  position: absolute;
  left: 10px;
  top: 120px;
  width: 140px;
  height: 140px;
  background-color: transparent;
  border-radius: 50%;
  border: transparent;
  transform: rotate(-40deg);
  box-shadow: 1px 0px 0px #cecece;
}
/* line 559, ../sass/screen.scss */
.inner-frame span {
  display: box;
  position: absolute;
  top: 15px;
  left: 70px;
  height: 100px;
  width: 2px;
  background-color: transparent;
  font-size: 10px;
}
/* line 569, ../sass/screen.scss */
.inner-frame span:before, .inner-frame span:after {
  content: '';
  display: box;
  position: absolute;
  width: 2px;
  height: 15px;
}
/* line 578, ../sass/screen.scss */
.inner-frame span:before {
  top: 5px;
}
/* line 582, ../sass/screen.scss */
.inner-frame span:after {
  top: 120px;
}
/* line 588, ../sass/screen.scss */
.inner-frame span:nth-of-type(1) {
  transform: rotate(30deg);
}
/* line 588, ../sass/screen.scss */
.inner-frame span:nth-of-type(2) {
  transform: rotate(60deg);
}
/* line 588, ../sass/screen.scss */
.inner-frame span:nth-of-type(3) {
  transform: rotate(90deg);
}
/* line 588, ../sass/screen.scss */
.inner-frame span:nth-of-type(4) {
  transform: rotate(120deg);
}
/* line 588, ../sass/screen.scss */
.inner-frame span:nth-of-type(5) {
  transform: rotate(150deg);
}
/* line 588, ../sass/screen.scss */
.inner-frame span:nth-of-type(6) {
  transform: rotate(180deg);
}
/* line 593, ../sass/screen.scss */
.inner-frame .days {
  display: box;
  position: absolute;
  top: -2px;
  left: 70px;
  height: 140px;
  width: 2px;
  background-color: transparent;
  outline: 1px solid transparent;
  /* 3D antialiasing*/
}
/* line 603, ../sass/screen.scss */
.inner-frame .days:before {
  content: '';
  display: box;
  position: absolute;
  top: 35px;
  width: 2px;
  height: 30px;
  background-color: #181820;
}
/* line 613, ../sass/screen.scss */
.inner-frame .days:after {
  content: '';
  display: box;
  position: absolute;
  top: 67px;
  left: -2px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #081743;
  box-shadow: 0 0 0 1px #C42028, 0 0 0 2px #E8352C;
}

/* line 628, ../sass/screen.scss */
.battery {
  position: absolute;
  top: 140px;
  left: 220px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border-radius: 50%;
  box-shadow: -1px -1px 0px #cecece;
}
/* line 638, ../sass/screen.scss */
.battery .second-1 {
  position: absolute;
  top: 0;
  left: 45px;
  height: 85px;
  width: 2px;
  background-color: transparent;
  outline: 1px solid transparent;
  z-index: 111;
  /* 3D antialiasing*/
}
/* line 649, ../sass/screen.scss */
.battery .second-1:before {
  content: '';
  display: box;
  position: absolute;
  top: 5px;
  width: 2px;
  height: 45px;
  background-color: #21182b;
}
/* line 659, ../sass/screen.scss */
.battery .second-1:after {
  content: '';
  display: box;
  position: absolute;
  top: 43px;
  left: -2px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #081743;
  box-shadow: 0 0 0 1px #C42028, 0 0 0 1px #E8352C;
}

/* line 674, ../sass/screen.scss */
.top {
  position: absolute;
  width: 3px;
  height: 8px;
  left: 0;
  right: 0;
  margin: 0 auto;
  font-size: 10px;
}

/* line 684, ../sass/screen.scss */
.right {
  position: absolute;
  width: 8px;
  height: 3px;
  top: 0;
  bottom: 0;
  right: 0;
  font-size: 10px;
  margin: auto 0;
}

/* line 695, ../sass/screen.scss */
.bottom {
  position: absolute;
  width: 3px;
  height: 8px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  font-size: 10px;
}

/* line 706, ../sass/screen.scss */
.left {
  position: absolute;
  width: 8px;
  height: 3px;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto 0;
  font-size: 10px;
}

/* line 719, ../sass/screen.scss */
.diallines {
  position: absolute;
  z-index: 2;
  width: 1px;
  height: 10px;
  background: #9e9e9e;
  left: 50%;
  margin-left: -1px;
  transform-origin: 50% 172px;
}

/* line 730, ../sass/screen.scss */
#weather {
  position: relative;
  z-index: 11;
}

/* line 735, ../sass/screen.scss */
.weather-holder {
  margin: 20px;
}

/* line 738, ../sass/screen.scss */
body {
  overflow: hidden;
}

/* line 745, ../sass/screen.scss */
#watch {
  position: relative;
  margin: 50px;
}

/* Bands */
/* Grippers */
/* line 757, ../sass/screen.scss */
.grip {
  position: absolute;
  border: 1px solid #777;
  width: 12px;
  height: 50px;
  background: #eee;
}

/* line 766, ../sass/screen.scss */
#tlg {
  top: 170px;
  left: 597px;
  border-radius: 8px 4px 0 0;
  border-left: none;
  box-shadow: inset 0 1px 0px #444444, inset 0 2px 0 white, inset 0 -6px 3px #444444;
}

/* line 777, ../sass/screen.scss */
#trg {
  top: 170px;
  right: 597px;
  border-radius: 4px 8px 0 0;
  border-right: none;
  box-shadow: inset 0 1px 0 #444444, inset 0 2px 0 white, inset 0 -6px 3px #444444;
}

/* line 787, ../sass/screen.scss */
#blg {
  bottom: 174px;
  left: 598px;
  border-radius: 0 0 4px 8px;
  border-left: none;
  box-shadow: inset 0 -1px 0px #444444, inset 0 -2px 0 white, inset 0 6px 3px #444444;
}

/* line 797, ../sass/screen.scss */
#brg {
  bottom: 170px;
  right: 598px;
  border-radius: 0 0 8px 4px;
  border-left: none;
  box-shadow: inset 0 -1px 0px #444444, inset 0 -2px 0 white, inset 0 6px 3px #444444;
}

/* Material */
/* line 813, ../sass/screen.scss */
#topBand {
  top: 125px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

/* line 820, ../sass/screen.scss */
.band-1 {
  background-color: #101022;
  background-size: 20px 20px;
  width: 250px;
  height: 470px;
  position: absolute;
}

/* line 830, ../sass/screen.scss */
#botBand {
  top: 240px;
  left: 63px;
}

/* line 837, ../sass/screen.scss */
.time-wheel {
  left: auto;
  right: 36%;
  width: 30px;
  height: 30px;
  top: 0;
  background: #c7d9e3;
  border-radius: 0 10px 10px 0;
  -webkit-animation-delay: 1.6s;
  animation-delay: 1.6s;
  -webkit-animation-duration: .8s;
  animation-duration: .8s;
  position: absolute;
  bottom: 0;
  margin: auto 0;
}

/* line 854, ../sass/screen.scss */
.time-wheel:before {
  z-index: 1;
  left: 25px;
  width: 6px;
  height: 36px;
  margin-top: -18px;
  background: -webkit-gradient(linear, left top, left bottom, from(#cecec6), color-stop(50%, #cecec6), color-stop(50%, #cecec6), to(#cecec6));
  background: linear-gradient(to bottom, #ccdbe5, #ccdbe5 50%, #dde5eb 50%, #dde5eb);
  background-position-x: 0%;
  background-position-y: 0%;
  background-size: auto auto;
  background-position: 0;
  background-size: 100% 4px;
  content: '';
  position: absolute;
  top: 10px;
}

/* line 872, ../sass/screen.scss */
.time-wheel:after {
  right: 4px;
  left: auto;
  width: 14px;
  height: 40px;
  margin-top: -20px;
  background: #dde5eb;
  border-radius: 0 8px 8px 0;
  content: '';
  position: absolute;
  top: 10px;
}

/* line 885, ../sass/screen.scss */
.meeting {
  position: absolute;
  bottom: 60px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 101px;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  color: #bfbcd8;
  font-weight: 600;
}
/* line 897, ../sass/screen.scss */
.meeting span {
  color: #ff0000;
}

/*# sourceMappingURL=screen.css.map */
